<div class = "bg-light p-0">  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class = "d-flex bg-standard text-light justify-contents-end">
      <div class = "w-25">        
        <%= link_to  "Back", root_path , class: "btn w-button btn-block align-center font-size-2" %>
      </div>
      <div class = "d-flex w-50 upper-menu">Login</div>
      <div class="w-25">
        <%= f.submit "Log in", class: "btn w-button font-size-2" %>
      </div>
    </div>
    <div class="border-top mt-2">      
      <%= f.email_field :email, autofocus: true, placeholder: "Email" , class: "field px-2 py-4" %>
    </div>

    <div class="border-top">     
      <%= f.password_field :password, placeholder: "Password", class: "field px-2 py-4" %>
    </div>
  <% end %>
  <div class = "d-flex flex-column mt-2 text-center mt-2 grey">
    <%= render "devise/shared/links" %>
  </div>
</div>