<div class= "container bg-light">
  <div class = "bg-primary">
    <div class= "h1 text-center text-light">
      Welcome <%= current_user.username%> to your transactions.  
    </div>
    <div class= "text-center py-1 text-light">
      Your total is : $<%= @sum %>
    </div>
  </div>


<div class= "">
  <div class = "flex flex-column">
    <% @transactions.each do |transaction| %>
      <div class = "d-flex border mt-2 mb-2 p-3">
        <div class = "d-flex">
        <%= bdraft_indexer(transaction)%>
        </div>
        <div class = "d-flex flex-fill justify-content-end pr-3">          
          <%= link_to  'Edit', edit_bdraft_path(transaction.id) %>
        </div>
        <div class = "d-flex justify-content-end">          
          <%= link_to  'Delete', bdraft_path(transaction.id), method: :delete, data: {confirm: "Really want to delete the transaction"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class= "text-center">  
  <%= link_to  'Add new', new_bdraft_path , class: "btn btn-primary btn-block align-center"%>
  <%= link_to  "Back", user_index_path , class: "btn btn-primary btn-block align-center" %>
</div>

</div>

