<div class = " bg-grey">
<div class = " bg-gradient text-center">
  <h1 class = "text-light">
    Welcome <%= current_user.username%> to the groups page.
  </h1>
</div>
<div class= "align-content-left">
  <div class = "flex flex-column">
    <% @transactions.each do |trans| %>
    <div class = "d-flex border my-2 mx-2 p-3 bg-white">
      <div class = "d-flex w-75">
        <div class = "pr-2 w-50">
        <%= trans.name %>
        </div>
        <div class = "pr-2 font-weight-bold w-50">
         $<%= trans.amount%>
        </div>
      </div>
      <div class = "pr-2 w-25">
        <%= trans.user.username %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div>
  <%= link_to  "Back", group_index_path , class: "btn bg-green btn-block align-center" %>
</div>
</div>