<div class = "container bg-light">
<div class = "container bg-primary text-center">
  <h1 class = "text-light">
    Welcome <%= current_user.username%> to the groups page.
  </h1>
</div>
<div class= "align-content-left">
  <div class = "flex flex-column">
    <% @transactions.each do |trans| %>
    <div class = "d-flex border mt-2 mb-2 p-3">
      <div class = "pr-2">
      Name : <%= trans.name %>
      </div>
      <div class = "pr-2">
      Amount: <%= trans.amount%>
      </div>
      <div class = "pr-2">
      Author: <%= trans.user.username %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= link_to  "Back", group_index_path , class: "btn btn-primary btn-block align-center" %>

</div>